* {
    margin: 0;
    padding: 0;
    
}
body *{
	font-family:"Rubik","Arial",sans-serif;
}

/***********NAV-BAR***********/
#nav-bar {
    position: sticky;
    z-index: 10;
    background-color: #191a1d;
}
.navbar{
    background-color: #191a1d;
    padding: 61px !important;
    margin-right: 0;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.navbar-brand {
    padding-left: 20px;
    color: white !important;
    font-size: 28px !important;
}
.navbar-brand::after {
    width:100%;
	max-width:50px;
	height:6px;
	display:block;
	content:'';
	border-radius:1000px;
    background:#e95420;
    margin-top: 5px;
    -webkit-transition:max-width ease .3s;
	transition:max-width ease .3s
}
.navbar-brand:hover::after{
    max-width:25px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a{
    color: #ababab !important;
    font-weight: 600;
    float: right;
    text-align: left;
    position: relative;
    text-decoration: none;
    font-size: 22px;
    margin-right: 25px;
}
.navbar-nav li a:hover{
    transition: .3s;
    color: #fff !important;
}
.navbar-nav li a:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    width: 55%;
    height: 6px;
    background-color: #e95420;
    margin-bottom: -5px;
    border-radius:1000px;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}
.navbar-nav li a:hover:after{
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
}
@media screen and (max-width:768px){
    .navbar-brand{
        padding-left: 0;
        font-size: 25px !important;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .navbar{
        padding: 5px 0px 10px 0px !important;
        border-bottom: 2px solid rgba(255,255,255,0.1);
        margin-bottom: -1px !important;
        width: 92%;
        margin-right: auto;
        margin-left: auto;
    }
    .navbar-light .navbar-toggler {
        border: none;
        color: #fff !important;
    }
}
@media screen and (max-width:1100px){
    .navbar-brand{
        padding-left: 0;
        font-size: 25px !important;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .navbar{
        padding: 5px 0px 10px 0px !important;
        border-bottom: 2px solid rgba(255,255,255,0.1);
        margin-bottom: -1px !important;
        width: 92%;
        margin-right: auto;
        margin-left: auto;
    }
    .navbar-light .navbar-toggler {
        border: none;
        color: #fff !important;
    }
}
@media screen and (max-width:767px){
    .navbar-brand{
        font-size: 20px !important;
        letter-spacing: 0;
    }
}
@media screen and (max-width:250px){
    #nav-bar .navbar-toggler{
        padding: 0;
    }
    #nav-bar .navbar-brand{
        font-size: 18px !important;
        margin-right: 0;
    }
}

/***********Banner***********/
#banner {
    background-color: #191a1d;
    color: #fff;
    padding-top: 5%;
}
.banner-title {
    font-size: 57px;
    font-weight: 600;
    color: #fff;
    margin: auto;
    letter-spacing: 1px;
}
.banner-subtitle{
    font-size: 25px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: #ababab;
}
.bottom-img {
    width: 100%;
}
#banner .btn{
    background-color: #e95420;
    border: none;
    border-radius: 22px;
    width: 200px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.5px;
    transition: all ease .3s; /* Animation */
}
#banner .btn:hover{
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
    -webkit-box-shadow: inset 0 0 0 2px #e95420;
    box-shadow: inset 0 0 0 2px #e95420;
    background: none;
}
.img-fluid{
    transition: transform .2s; /* Animation */
    max-width: 70% !important;
}
.img-fluid:hover {
    transform: scale(1.009); /* Zoom scale*/
}
#banner .img{
    text-align: right;
}
#banner .text{
    align-self: center;
}
@media screen and (max-width:767px){
    #banner .banner-title{
        font-size: 38px;
        font-weight: 600;
    }
    #banner .banner-subtitle{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #banner .img-fluid{
        margin: 50px;
        width: 50%;
        margin-right: 0;
    }
    #banner .col-md-6{
        text-align: -webkit-center;
    }
}
@media screen and (max-width:1100px){
    #banner .banner-title{
        font-size: 38px;
        font-weight: 600;
    }
    #banner .banner-subtitle{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #banner .text{
        align-self: center;
    }
}
@media screen and (max-width:1390px){
    #banner .img-fluid{
        width: 50%;
        margin-left: 0;
    }
    #banner .img{
        align-self: center;
    }
}
@media screen and (max-width:767px){
    #banner .img-fluid{
        
    }
}
@media screen and (max-width:250px){
    #banner .banner-title{
        font-size: 32px;
    }
    #banner .banner-subtitle{
        font-size: 16px;
    } 
    #banner .btn{
        width: auto;
        font-size: 14px;
        letter-spacing: 0;
    } 
}