* {
    margin: 0;
    padding: 0;
    
}
body *{
    font-family:"Rubik","Arial",sans-serif;
}
html {
    scroll-behavior: smooth;
  }
p{
    line-height: 160%;
    font-size: 21px;
}
.title{
    font-weight: 600;
}
.title::after{
    content: '';
    background: #e95420;
    height: 5px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.titles{
    padding-top: 20px;
    padding-bottom: 65px;
}

@media screen and (max-width:580px){
    #about .container, #skills .container, #projects .container, #contact .container{
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media screen and (max-width:200px){
    .title{
        font-size: 23px;
    }
    .titles{
            padding-bottom: 30px;
    }
    .title::after{
        width: 50px;
    }
    .subtitle{
        font-size: 14px;
    }
}
@media screen and (max-width:991px){
    p, li, label{
        font-size: 18px !important;
    }
    h4{
        font-size: 22px !important;
    }
}
@media screen and (max-width:290px){
    p, li, label{
        font-size: 13px !important;
    }
    h4{
        font-size: 13px !important;
    }
}

/***********NAV-BAR***********/
#nav-bar {
    position: sticky;
    z-index: 10;
    background-color: #191a1d;
}
#nav-bar .navbar{
    background-color: #191a1d;
    padding: 61px !important;
    margin-right: 0;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
#nav-bar .navbar-brand {
    padding-left: 20px;
    color: white !important;
    font-size: 28px !important;
}
#nav-bar .navbar-brand::after {
    width:100%;
	max-width:50px;
	height:6px;
	display:block;
	content:'';
	border-radius:1000px;
    background:#e95420;
    margin-top: 5px;
    -webkit-transition:max-width ease .3s;
	transition:max-width ease .3s
}
#nav-bar .navbar-brand:hover::after{
    max-width:25px;
}
#nav-bar .navbar-nav li {
    padding: 0 10px;
}
#nav-bar .navbar-nav li a{
    color: #ababab !important;
    font-weight: 600;
    float: right;
    text-align: left;
    position: relative;
    text-decoration: none;
    font-size: 22px;
    margin-right: 25px;
}
#nav-bar .navbar-nav li a:hover{
    transition: .3s;
    color: #fff !important;
}
#nav-bar .navbar-nav li a:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    width: 55%;
    height: 6px;
    background-color: #e95420;
    margin-bottom: -5px;
    border-radius:1000px;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}
#nav-bar .navbar-nav li a:hover:after{
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
}
@media screen and (max-width:768px){
    #nav-bar .navbar-brand{
        padding-left: 0;
        font-size: 25px !important;
        font-weight: bold;
        letter-spacing: 1px;
    }
    #nav-bar .navbar{
        padding: 5px 0px 10px 0px !important;
        border-bottom: 2px solid rgba(255,255,255,0.1);
        margin-bottom: -1px !important;
        width: 92%;
        margin-right: auto;
        margin-left: auto;
    }
    #nav-bar .navbar-light .navbar-toggler {
        border: none;
        color: #fff !important;
    }
}
@media screen and (max-width:1100px){
    #nav-bar .navbar-brand{
        padding-left: 0;
        font-size: 25px !important;
        font-weight: bold;
        letter-spacing: 1px;
    }
    #nav-bar .navbar{
        padding: 5px 0px 10px 0px !important;
        border-bottom: 2px solid rgba(255,255,255,0.1);
        margin-bottom: -1px !important;
        width: 92%;
        margin-right: auto;
        margin-left: auto;
    }
    #nav-bar .navbar-light .navbar-toggler {
        border: none;
        color: #fff !important;
    }
}
@media screen and (max-width:767px){
    #nav-bar .navbar-brand{
        font-size: 20px !important;
        letter-spacing: 0;
    }
}
@media screen and (max-width:250px){
    #nav-bar .navbar-toggler{
        padding: 0;
    }
    #nav-bar .navbar-brand{
        font-size: 18px !important;
        margin-right: 0;
    }
}

/***********Banner***********/
#banner {
    background-color: #191a1d;
    color: #fff;
}
#banner .container{
    padding-top: 6.5%;
    padding-bottom: 8%;
    align-self: center;
}
#banner .banner-title {
    font-size: 57px;
    font-weight: 600;
    color: #fff;
    margin: auto;
    letter-spacing: 1px;
}
#banner .banner-subtitle{
    font-size: 25px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: #ababab;
}
#banner .bottom-img {
    width: 100%;
    margin-bottom: -7px;
}
#banner .btn, #about .btn, #contact .btn{
    background-color: #e95420;
    border: none;
    border-radius: 22px;
    width: 200px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
    transition: all ease .3s; /* Animation */
}
#banner .btn:hover, #about .btn:hover, #contact .btn:hover{
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
    -webkit-box-shadow: inset 0 0 0 2px #e95420;
    box-shadow: inset 0 0 0 2px #e95420;
    background: none;
}
#banner .img-fluid{
    transition: transform .2s; /* Animation */
    max-width: 70% !important;
}
#banner .img-fluid:hover {
    transform: scale(1.009); /* Zoom scale*/
}
#banner .img{
    text-align: right;
}
#banner .text{
    align-self: center;
}
@media screen and (max-width:767px){
    #banner .banner-title{
        font-size: 38px;
        font-weight: 600;
    }
    #banner .banner-subtitle{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #banner .img-fluid{
        margin: 50px;
        width: 50%;
        margin-right: 0;
    }
    #banner .col-md-6{
        text-align: -webkit-center;
    }
}
@media screen and (max-width:1100px){
    #banner .banner-title{
        font-size: 38px;
        font-weight: 600;
    }
    #banner .banner-subtitle{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #banner .text{
        align-self: center;
    }
}
@media screen and (max-width:1390px){
    #banner .img-fluid{
        width: 50%;
        margin-left: 0;
    }
    #banner .img{
        align-self: center;
    }
}
@media screen and (max-width:250px){
    #banner .banner-title{
        font-size: 29px;
    }
    #banner .banner-subtitle{
        font-size: 16px;
    } 
    #banner .btn, #about .btn{
        width: auto;
        font-size: 14px;
        letter-spacing: 0;
    } 
}

/***********About Me***********/
#about{
    padding-top: 40px;
}
#about .bottom-img {
    width: 100%;
    padding-top: 250px;
}
#about .img-fluid{
    text-align: left;
    width: 300px;
    align-self: center;
    max-width: 100% !important;
    border-radius: 10px;
}
#about .btn:hover{
    background-color: none;
    color: #e95420;
}
#about .row .col-md-4, #about .row .col-md-8{
    align-self: center;
}
#about .social-buttons a{
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
}
#about .social-buttons a::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #e95420;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
}
#about .social-buttons a:hover::before{
    transform: scale(0);
}
#about .social-buttons a i{
    transition: 0.3s ease-in;
} 
#about .social-buttons a:hover i{
    background: #e95420;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.2);
}
#about .social-buttons{
    float: right;
}
#about .curriculum{
    float: left;
}
@media screen and (max-width:767px){
    #about .img{
        text-align: center;
        margin-bottom: 50px;
    }
    #about .bottom-img{
        padding-top: 100px;
    }
}
@media screen and (max-width:380px){
    #about .text p{
        margin-bottom: 20px;
    }
    #about .social-buttons{
        margin-top: 5px;
        text-align-last: center;
        float: none;
    }
    #about .curriculum{
        float: none;
    }
    #about .col-md-8 .curriculum{
        text-align: -webkit-center;
    }
}
@media screen and (max-width:180px){
    #about .col-md-8 .curriculum .btn{
        font-size: 11px;
    }
    #about .col-md-8 .social-buttons{
        text-align-last: auto;
        text-align: -webkit-center;
    }
    #about .col-md-8 .social-buttons a{
        margin-top: 10px;
    }
}

/***********Skills***********/
#skills{
    background-color: #191a1d;
    padding-top: 50px;
}
#skills .bottom-img {
    width: 100%;
    padding-top: 50px;
}
#skills .skill-img{
    width: 100px;
    margin-top: 20px;
}
#skills .skills{
    padding: 20px;
}
#skills .skills:hover .skill-icon{
    background: #e95420;
    color: #191a1d;
}
#skills .title{
    color: #fff;
}
#skills .skills h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
#skills .skills .row p{
    font-size: 19px;
    color: #ababab;
}
#skills p{
    color: #ababab;
}
#skills .skill-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #e95420;
    color: #e95420;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}
#skills .skill-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

/***********Projects***********/
#projects{
    background-color: #f8f9fa;
    padding-bottom: 60px;
    padding-top: 50px;
}
#projects .btn:hover{
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
    box-shadow: inset 0 0 0 2px #191a1d;
    background: none;
    color: #191a1d;
}
#projects .btn{
    background-color: #191a1d;
    border: none;
    border-radius: 22px;
    width: 160px;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    transition: all ease .3s; /* Animation */
}
#projects .project-buttons{
    writing-mode: vertical-lr;
}
#projects h4{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
}
#projects .row p, li{
    color: #6e6e6e;
}
#projects li{
    font-size: 19px;
}
#projects .project-info{
    margin-bottom: 15px;
}
#projects .img{
    text-align-last: right;
    align-self: center;
}
#projects .img-fluid{
    box-shadow: 10px 10px 5px grey;
    max-width: 85%;
}
#projects hr{
    top: 0;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
#projects .img-fluid:hover {
    transform: scale(1.09); /* Zoom scale*/
}
@media screen and (max-width:991px){
    #projects .row p{
        line-height: normal;
    }
    #projects li{
        line-height: normal;
    }
    #projects .project-buttons{
        writing-mode: unset;
    }
    #projects .img{
        text-align-last: center;
    }
    #projects .img-fluid:hover {
        transform: scale(1.35); /* Zoom scale*/
    }
}
@media screen and (max-width:767px){
    #projects .img-fluid:hover {
        transform: scale(1.09); /* Zoom scale*/
    }
    #projects h4{
        padding-top: 20px;
    }
    #projects .project-buttons{
        align-self: center;
    }
}  
@media screen and (max-width:400px){
    #projects .project-buttons{
        writing-mode: tb;
    }
    #projects .project-buttons .btn{
        width: 140px;
        line-height: 30px;
        font-size: 14px;
        letter-spacing: 0;
    }   
}
@media screen and (max-width:300px){
    #projects .project-buttons .btn{
        font-size: 0px;
        width: 70px;
        height: 40px;
    }
    #projects .project-buttons{
        writing-mode: horizontal-tb;
    }
    #projects .project-buttons .far , .fas, .fab{ 
        font-size: initial; 
        line-height: unset;
    }
    #projects .fab, .fas{
        padding: inherit;
    }
}
@media screen and (max-width:220px){
    #projects .project-buttons .btn{
        margin-top: 5px;
    }
    #projects .project-buttons{
        text-align: -webkit-center;
    }
    #projects .img-fluid{
        box-shadow: 5px 5px 2.5px grey;    }
}

/***********Contact***********/
#contact{
    background-color: #191a1d;
    padding-bottom: 60px;
    color: #fff;
}
#contact .titles{
    padding-top: 60px;
}
#contact .top-img {
    width: 100%;
}
#contact .top-img{
    margin-top: -10px;
}
#contact form{
    width: 70%;
    margin: 0 auto;
}
#contact form label{
    font-size: 21px;
}
#contact input, #contact select, #contact textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #e95420;
}
#contact .img-fluid{
    max-width: 100% !important;
}
#contact .img{
    align-self: center;
    text-align: center;
}
#contact p, label {
    color: #ababab;
}
#contact .btn{
    width: 200px;
}
@media screen and (max-width:370px){
    #contact .btn, label{
        width: -webkit-fill-available;
        font-size: 14px !important;
    }
}

/***********Footer***********/
footer{
    background-color: #111214;
    color: #ababab;
    padding: 10px;
    text-align-last: center;
}
footer p{
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
}

footer .social-buttons{
    color: #ababab;
    padding-top: 5px;
}
footer .fab:hover{
    color: #fff;
}
footer .fab{
    color: #ababab;
    font-size: 20px;
}